/* Banner principal */
.banner img {
    width: 100%;       /* Largura total da tela */
    max-height: 400px; /* Altura máxima para não ocupar toda a tela */
    object-fit: cover; /* Ajusta a imagem para cobrir o espaço sem distorcer */
    display: block;
    margin: 0 auto;
}
